*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
}
.apresentacao{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
strong{
    color: #22d4fd
}
.apresentacao__conteudo{
    width: 615px;
}
.apresentacao__conteudo__titulo{
    font-size: 36px;
}
.apresentacao__conteudo__texto{
    font-size: 24px;
}